// These are the slider switches, mainly found in the Settings menu.

input[type="checkbox"].checkbox-slider
  {
    height: 18px;
    left: 10000px;
    position: relative;
    width: 18px;

    &::before, &::after {
      content: '';
      cursor: pointer;
      display: block;
      left: -10000px;
      position: absolute;
    }

    &::before {
      background: rgba($black, 0.3);
      border-radius: 18px;
      height: 18px;
      transition: background-color 300ms;
      width: 32px;
    }

    &:checked::before {
      background-color: rgba($teal-01, 0.8);
    }

    &::after {
      background: $white;
      border-radius: 50%;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
      height: 15px;
      top: 50%;
      transform: translateY(-50%) translateX(13%);
      transition: transform 100ms ease-in-out;
      width: 15px;
    }

    &:checked::after {
      transform: translateY(-50%) translateX(99%);
    }

    &:disabled {
      &::before {
        background: rgba($black, 0.4);
      }
      &::after {
        background: rgba($white, 0.6);
      }

    }
  }